.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  /* height: 100px; */
  padding: 50px 0;
  /* line-height: 100px; */
  background: #61dafb;
  text-align: center;
  color: #ffffff;
}

.footer {
  /* height: 100px; */
  padding: 50px 0;
  /* line-height: 100px; */
  background: blueviolet;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
}

.content {
  width: 70%;
  padding: 200px 0;
  background-color: greenyellow;
  color: #ffffff;
  text-align: center;
}

.sidebar {
  width: 30%;
  padding: 200px 0;
  background-color: black;
  color: #ffffff;
  text-align: center;
}
